:root {
    --tab-list: #000;
    --tab-title: #000;
    --tab-title-hover: #000;
    --tab-title-active: #000;
    --tab-title-text: #000;
    --tab-title-active-text: #000;
    --tab-content: #000;
    --tab-content-text: #000;
    --select: #000;
    --select-hover: #000;
    --select-option: #000;
    --select-option-hover: #000;
    --select-option-selected: #000;
    --select-option-selected-text: #000;
    --input: #000;
    --input-border: #000;
    --input-text: #000;
    --border-radius: 8px;
}

@font-face {
    font-family: "HarmonyOS Sans";
    src: url("res:///HarmonyOS Sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "HarmonyOS Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    transition:
        background-color 0.3s,
        color 0.3s;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

.tab-list {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 100%;
    background-color: var(--tab-list);
    color: var(--tab-title-text);
    padding: 16px;
    gap: 12px;
}

.tab-title {
    background-color: var(--tab-title);
    width: 100%;
    padding: 12px 16px;
    border-radius: var(--border-radius);
    text-align: center;
}

.tab-title:hover {
    background-color: var(--tab-title-hover);
}

.tab-title.active {
    background-color: var(--tab-title-active);
    color: var(--tab-title-active-text);
}

.tab-content {
    display: none;
    flex: 1;
    background-color: var(--tab-content);
    color: var(--tab-content-text);
    padding: 20px;
    overflow: auto;
}

.tab-content.active {
    display: block;
}

.setting-item {
    margin-bottom: 32px;
}

.setting-item p {
    color: var(--tab-content-text);
    margin: 12px;
}

.custom-select {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.custom-select-display {
    padding: 10px 12px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--select);
}

.custom-select-display:hover {
    background-color: var(--select-hover);
}

.custom-select-display-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--select);
}

.custom-select-arrow {
    transition: transform 0.3s;
}

.custom-select-open .custom-select-arrow {
    transform: rotate(180deg);
}

.custom-select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 512px;
    background-color: var(--select-option);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-select-open .custom-select-options {
    display: block;
}

.custom-select-option {
    padding: 10px 12px;
    font-size: 14px;
    color: var(--tab-content-text);
    cursor: pointer;
}

.custom-select-option:hover {
    background-color: var(--select-option-hover);
}

.custom-select-option:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.custom-select-option:last-child:hover {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.custom-select-option-selected {
    background-color: var(--select-option-selected);
    color: var(--select-option-selected-text);
}

.custom-select-option-selected:hover {
    background-color: var(--select-option-selected);
}

.custom-select-option-selected:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.footer-tabs {
    background-color: var(--tab-list);
    box-shadow: var(--tab-title-active-text) 0px 4px 8px;
    bottom: 0px;
    color: var(--tab-title-active-text);
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-tabs img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
}

.content {
    color: var(--tab-title-text);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    align-items: end;
}

.content p {
    font-size: 20px;
    font-weight: 300;
}

.content span {
    font-size: 15px;
    margin-left: 15px;
}

.seek-bar {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto auto;
}

.seek-bar input {
    margin-right: 15px;
    width: 300px;
}

.buttons {
    margin: 16px;
}

.buttons a {
    border-radius: 50px;
    margin-right: 16px;
    font-size: 30px;
    font-weight: 600;
}

.buttons svg,
.playback-interface svg {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 13px;
    fill: none;
    stroke: var(--tab-title-text);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.buttons button,
.playback-interface button {
    width: 35px;
    height: 48px;
    background-color: transparent;
    border: none;
    color: inherit;
}

#search-input {
    padding: 12px 16px;
    width: 100%;
    border-radius: var(--border-radius);
    border: 2px solid var(--input-border);
    background-color: var(--input);
    color: var(--input-text);
    margin-bottom: 16px;
}

#search-results-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--input);
    color: var(--input-text);
    table-layout: fixed;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#search-results-table thead {
    background-color: var(--tab-title);
    color: var(--tab-title-text);
}

#search-results-table th {
    padding: 12px 16px;
    text-align: left;
}

#search-results-table td {
    padding: 12px 16px;
}

.playback-interface {
    position: fixed;
    bottom: -200vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--tab-content);
    color: var(--tab-content-text);
    transition: bottom 0.5s ease;
    z-index: 100;
}

.playback-interface.active {
    bottom: 0;
}