.custom-select {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.custom-select-display {
    padding: 10px 12px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
}

.custom-select-display:hover {
    background-color: var(--color-3);
}

.custom-select-display-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--color-2);
}

.custom-select-arrow {
    transition: transform 0.3s;
}

.custom-select-open .custom-select-arrow {
    transform: rotate(180deg);
}

.custom-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background-color: var(--color-1);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: scaleY(0);
    transform-origin: top;
    transition:
        background-color 0.3s,
        color 0.3s,
        max-height 0.3s ease 0s,
        transform 0.3s ease 0s;
}

.custom-select-open .custom-select-options {
    max-height: 500px;
    transform: scaleY(1);
}

.custom-select-option {
    padding: 10px 12px;
    font-size: 14px;
    color: var(--text-1);
    cursor: pointer;
}

.custom-select-option:hover {
    background-color: var(--color-3);
}

.custom-select-option:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.custom-select-option:last-child:hover {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.custom-select-option-selected {
    background-color: var(--color-4);
    color: var(--text-2);
}

.custom-select-option-selected:hover {
    background-color: var(--color-4);
}

.custom-select-option-selected:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: var(--color-3);
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.toggle-switch::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-1);
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-switch.active {
    background-color: var(--color-4);
}

.toggle-switch.active::before {
    transform: translateX(26px);
}

.status-text {
    font-weight: bold;
}
