.tab-list {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: var(--color-1);
    color: var(--text-1);
    padding: 1em;
    gap: 1em;
    position: absolute;
    top: 0;
    bottom: 12vh;
}
.tab-list.hidden {
    opacity: 0;
}

.tab-title {
    background-color: var(--color-3);
    width: 100%;
    padding: 1em;
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
}

.tab-title:hover {
    background-color: var(--color-4);
}

.tab-title.active {
    background-color: var(--color-5);
    color: var(--text-2);
}

.tab-content {
    opacity: 0;
    visibility: hidden;
    flex: 1;
    background-color: transparent;
    color: var(--text-1);
    padding: 2em;
    overflow: auto;
    transition:
        opacity 0.3s ease,
        visibility 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 12vh;
    left: 20vw;
}

.tab-content.active {
    opacity: 1;
    visibility: visible;
}

.setting-item {
    margin-bottom: 2em;
}

.setting-item p {
    color: var(--text-1);
    margin: 0.5em;
}

.setting-item button {
    font-size: 2vh;
    background-color: var(--color-1);
    color: var(--text-1);
    padding: 0.75em;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 32em;
}

.setting-item button:hover {
    background-color: var(--color-3);
}
