svg.btn {
    fill: none;
    stroke: var(--text-1);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: var(--text-1);
}

svg.btn:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--text-1));
}
