:root {
    --text-1: #ffffff;
    --text-2: #ffffff;

    --color-1: #ffffff;
    --color-2: #ffffff;
    --color-3: #ffffff;
    --color-4: #ffffff;
    --color-5: #ffffff;

    --border-radius: 0.5em;
    --button-width: 0.1rem;
}
