:root {
    --text-1: #000000;
    --text-2: #000000;

    --color-1: #000000;
    --color-2: #000000;
    --color-2-1: #000000d0;
    --color-3: #000000;
    --color-4: #000000;
    --color-5: #000000;

    --border-radius: 0.5em;
    --button-width: 0.1rem;
}
